@import "./base/_base";
@import "../assets/fonts/fonts";
@import "./blocks/blockBase";


body{
	font-family: 'Inter', 'sans-serif';
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	
}

.page {
	flex: 1 1 auto;
	
	
}

[class*="__container"] {
	max-width: 74.0625rem;
	margin: 0 auto;
	padding: 0 0.9375rem;
}


